<%- include('../parts/head') %>
    <%- include('../parts/nav') %>
        <section id="club" class="white-section">
            <div class="container-fluid">
                <h2 class="about-title">About SESC</h2>
                </h3>
                <div class="row">
                    <div class="col-lg-6">
                        <img src="/images/sesclogo.png" alt="sesclogo" class="about-img">
                    </div>
                    <div class="col-lg-6 about-content">
                        <p class="about-text">
                            <span class="about-subtitle"> The Setifian Scientific Club (SESC)</span>, founded on
                            April 29,
                            2013, at the University of Setif1,
                            connects students from various scientific fields. Its mission is to promote intellectual
                            curiosity
                            and skill development through engaging, hands-on activities. SESC fosters a
                            collaborative
                            environment that encourages idea exploration and critical thinking. Through diverse
                            events and
                            workshops, the club provides enriching experiences beyond academics, focusing on
                            creativity and
                            teamwork.
                        </p>
                        <a href="/contact" class="btn btn-outline-primary about-btn">Get in Touch</a>
                    </div>
                </div>
            </div>
        </section>
        <%- include('../parts/footer') %>