<%- include('../parts/head') %>

    <body>
        <div class="container mt-5">
            <div class="alert alert-danger" role="alert">
                <%= message %>
            </div>
            <a href="/" class="btn btn-primary">Go to Home</a>
        </div>
    </body>

    </html>