<%- include('../parts/head') %>

    <section class="colored-section" id="cs-lmd-home">
        <div class="container-fluid">
            <div class="speciality-home">
                <h1 class="speciality-page-title">
                    <%= major.name %> Resources
                </h1>
                <div class="d-flex justify-content-center flex-wrap mb-4 align-items-center">
                    <% if (years && years.length) { %>
                        <% years.forEach((year, index)=> { %>
                            <a href="#year<%= index + 1 %>" class="btn btn-primary mx-2 years-btn">
                                <%= year.name %>
                            </a>
                            <% }) %>
                                <% } else { %>
                                    <p>No years available</p>
                                    <% } %>
                </div>
            </div>
        </div>
    </section>

    <section class="white-section">
        <div class="container-fluid">
            <!-- Year 1 -->
            <h2 class="year-title">First Year</h2>
            <hr>
            <div class="row">
                <!-- s1 -->
                <div class="col-lg-6 semester-col">
                    <h3 class="Semester-title">Semester 1</h3>
                    <hr>
                    <ul class="list-group list-group-flush modules">
                        <li class="list-group-item">
                            <div class="dropdown">
                                <button class="btn w-100 module-btn" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Module
                                </button>
                                <ul class="dropdown-menu w-100 module-dropdown">
                                    <li><a class="dropdown-item" href="#">Courses</a></li>
                                    <li><a class="dropdown-item" href="#">TDs</a></li>
                                    <li><a class="dropdown-item" href="#">TPs</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="dropdown">
                                <button class="btn w-100 module-btn" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Module
                                </button>
                                <ul class="dropdown-menu w-100 module-dropdown">
                                    <li><a class="dropdown-item" href="#">Courses</a></li>
                                    <li><a class="dropdown-item" href="#">TDs</a></li>
                                    <li><a class="dropdown-item" href="#">TPs</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="dropdown">
                                <button class="btn w-100 module-btn" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Module
                                </button>
                                <ul class="dropdown-menu w-100 module-dropdown">
                                    <li><a class="dropdown-item" href="#">Courses</a></li>
                                    <li><a class="dropdown-item" href="#">TDs</a></li>
                                    <li><a class="dropdown-item" href="#">TPs</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="dropdown">
                                <button class="btn w-100 module-btn" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Module
                                </button>
                                <ul class="dropdown-menu w-100 module-dropdown">
                                    <li><a class="dropdown-item" href="#">Courses</a></li>
                                    <li><a class="dropdown-item" href="#">TDs</a></li>
                                    <li><a class="dropdown-item" href="#">TPs</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="dropdown">
                                <button class="btn w-100 module-btn" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Module
                                </button>
                                <ul class="dropdown-menu w-100 module-dropdown">
                                    <li><a class="dropdown-item" href="#">Courses</a></li>
                                    <li><a class="dropdown-item" href="#">TDs</a></li>
                                    <li><a class="dropdown-item" href="#">TPs</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="dropdown">
                                <button class="btn  w-100 module-btn" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Module
                                </button>
                                <ul class="dropdown-menu w-100 module-dropdown">
                                    <li><a class="dropdown-item" href="#">Courses</a></li>
                                    <li><a class="dropdown-item" href="#">TDs</a></li>
                                    <li><a class="dropdown-item" href="#">TPs</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- s2 -->
                <div class="col-lg-6 semester-col">
                    <h3 class="Semester-title">Semester 2</h3>
                    <hr>
                    <ul class="list-group list-group-flush modules">
                        <li class="list-group-item">
                            <div class="dropdown">
                                <button class="btn w-100 module-btn" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Module
                                </button>
                                <ul class="dropdown-menu w-100 module-dropdown">
                                    <li><a class="dropdown-item" href="#">Courses</a></li>
                                    <li><a class="dropdown-item" href="#">TDs</a></li>
                                    <li><a class="dropdown-item" href="#">TPs</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="dropdown">
                                <button class="btn w-100 module-btn" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Module
                                </button>
                                <ul class="dropdown-menu w-100 module-dropdown">
                                    <li><a class="dropdown-item" href="#">Courses</a></li>
                                    <li><a class="dropdown-item" href="#">TDs</a></li>
                                    <li><a class="dropdown-item" href="#">TPs</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="dropdown">
                                <button class="btn w-100 module-btn" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Module
                                </button>
                                <ul class="dropdown-menu w-100 module-dropdown">
                                    <li><a class="dropdown-item" href="#">Courses</a></li>
                                    <li><a class="dropdown-item" href="#">TDs</a></li>
                                    <li><a class="dropdown-item" href="#">TPs</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="dropdown">
                                <button class="btn w-100 module-btn" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Module
                                </button>
                                <ul class="dropdown-menu w-100 module-dropdown">
                                    <li><a class="dropdown-item" href="#">Courses</a></li>
                                    <li><a class="dropdown-item" href="#">TDs</a></li>
                                    <li><a class="dropdown-item" href="#">TPs</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="dropdown">
                                <button class="btn w-100 module-btn" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Module
                                </button>
                                <ul class="dropdown-menu w-100 module-dropdown">
                                    <li><a class="dropdown-item" href="#">Courses</a></li>
                                    <li><a class="dropdown-item" href="#">TDs</a></li>
                                    <li><a class="dropdown-item" href="#">TPs</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="dropdown">
                                <button class="btn w-100 module-btn" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Module
                                </button>
                                <ul class="dropdown-menu w-100 module-dropdown">
                                    <li><a class="dropdown-item" href="#">Courses</a></li>
                                    <li><a class="dropdown-item" href="#">TDs</a></li>
                                    <li><a class="dropdown-item" href="#">TPs</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Year 2 -->
            <h2 class="year-title">Second Year</h2>
            <hr>
            <div class="row">
                <!-- s1 -->
                <div class="col-lg-6 semester-col">
                    <ul class="list-group list-group-flush modules">
                        <li class="list-group-item">
                            <div class="dropdown">
                                <button class="btn w-100 module-btn" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Module
                                </button>
                                <ul class="dropdown-menu w-100 module-dropdown">
                                    <li><a class="dropdown-item" href="#">Courses</a></li>
                                    <li><a class="dropdown-item" href="#">TDs</a></li>
                                    <li><a class="dropdown-item" href="#">TPs</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="dropdown">
                                <button class="btn w-100 module-btn" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Module
                                </button>
                                <ul class="dropdown-menu w-100 module-dropdown">
                                    <li><a class="dropdown-item" href="#">Courses</a></li>
                                    <li><a class="dropdown-item" href="#">TDs</a></li>
                                    <li><a class="dropdown-item" href="#">TPs</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="dropdown">
                                <button class="btn w-100 module-btn" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Module
                                </button>
                                <ul class="dropdown-menu w-100 module-dropdown">
                                    <li><a class="dropdown-item" href="#">Courses</a></li>
                                    <li><a class="dropdown-item" href="#">TDs</a></li>
                                    <li><a class="dropdown-item" href="#">TPs</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="dropdown">
                                <button class="btn w-100 module-btn" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Module
                                </button>
                                <ul class="dropdown-menu w-100 module-dropdown">
                                    <li><a class="dropdown-item" href="#">Courses</a></li>
                                    <li><a class="dropdown-item" href="#">TDs</a></li>
                                    <li><a class="dropdown-item" href="#">TPs</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="dropdown">
                                <button class="btn w-100 module-btn" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Module
                                </button>
                                <ul class="dropdown-menu w-100 module-dropdown">
                                    <li><a class="dropdown-item" href="#">Courses</a></li>
                                    <li><a class="dropdown-item" href="#">TDs</a></li>
                                    <li><a class="dropdown-item" href="#">TPs</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="dropdown">
                                <button class="btn  w-100 module-btn" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Module
                                </button>
                                <ul class="dropdown-menu w-100 module-dropdown">
                                    <li><a class="dropdown-item" href="#">Courses</a></li>
                                    <li><a class="dropdown-item" href="#">TDs</a></li>
                                    <li><a class="dropdown-item" href="#">TPs</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <hr>
                    <h3 class="Semester-title">Semester 3</h3>
                </div>
                <!-- s2 -->
                <div class="col-lg-6 semester-col">
                    <ul class="list-group list-group-flush modules">
                        <li class="list-group-item">
                            <div class="dropdown">
                                <button class="btn w-100 module-btn" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Module
                                </button>
                                <ul class="dropdown-menu w-100 module-dropdown">
                                    <li><a class="dropdown-item" href="#">Courses</a></li>
                                    <li><a class="dropdown-item" href="#">TDs</a></li>
                                    <li><a class="dropdown-item" href="#">TPs</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="dropdown">
                                <button class="btn w-100 module-btn" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Module
                                </button>
                                <ul class="dropdown-menu w-100 module-dropdown">
                                    <li><a class="dropdown-item" href="#">Courses</a></li>
                                    <li><a class="dropdown-item" href="#">TDs</a></li>
                                    <li><a class="dropdown-item" href="#">TPs</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="dropdown">
                                <button class="btn w-100 module-btn" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Module
                                </button>
                                <ul class="dropdown-menu w-100 module-dropdown">
                                    <li><a class="dropdown-item" href="#">Courses</a></li>
                                    <li><a class="dropdown-item" href="#">TDs</a></li>
                                    <li><a class="dropdown-item" href="#">TPs</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="dropdown">
                                <button class="btn w-100 module-btn" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Module
                                </button>
                                <ul class="dropdown-menu w-100 module-dropdown">
                                    <li><a class="dropdown-item" href="#">Courses</a></li>
                                    <li><a class="dropdown-item" href="#">TDs</a></li>
                                    <li><a class="dropdown-item" href="#">TPs</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="dropdown">
                                <button class="btn w-100 module-btn" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Module
                                </button>
                                <ul class="dropdown-menu w-100 module-dropdown">
                                    <li><a class="dropdown-item" href="#">Courses</a></li>
                                    <li><a class="dropdown-item" href="#">TDs</a></li>
                                    <li><a class="dropdown-item" href="#">TPs</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="dropdown">
                                <button class="btn w-100 module-btn" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Module
                                </button>
                                <ul class="dropdown-menu w-100 module-dropdown">
                                    <li><a class="dropdown-item" href="#">Courses</a></li>
                                    <li><a class="dropdown-item" href="#">TDs</a></li>
                                    <li><a class="dropdown-item" href="#">TPs</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <hr>
                    <h3 class="Semester-title">Semester 4</h3>
                </div>
            </div>
        </div>
    </section>


    </body>

    </html>