<footer id="contact" class="colored-section">
    <div class="container-fluid">
        <div class="contact-icons">
            <a href="https://www.instagram.com/setifian.scientific.club"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.facebook.com/SeSC.Club"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.linkedin.com/company/setifian-scientific-club-sesc/"><i
                    class="fa-brands fa-linkedin"></i></a>
        </div>
        <p class="Copyright">©Sesc-lib</p>
    </div>

</footer>
</body>

</html>