<footer footer id="footer-main" class="colored-section">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-4 text-start">
                <a class="footer-brand mb-0" href="https://taplink.cc/sesc">
                    <img src="images/sesclogo.png" alt="Logo" width="30" height="30"
                        class="d-inline-block align-text-top">
                    Sesc-lib
                </a>
            </div>
            <div class="col-md-4 text-center">
                <ul class="list-unstyled mb-0">
                    <li class="d-inline mx-2"><a href="/" class="footer-item">Home</a></li>
                    <li class="d-inline mx-2"><a href="/resourses" class="footer-item">Resources</a></li>
                    <li class="d-inline mx-2"><a href="/about" class="footer-item">About</a></li>
                    <li class="d-inline mx-2"><a href="/contact" class="footer-item">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-4 text-end footer-contact-icons">
                <a href="mailto:sesc.club@gmail.com"><i class="fa-solid fa-envelope"></i></a>
                <a href="https://www.instagram.com/setifian.scientific.club"><i class="fa-brands fa-instagram "></i></a>
                <a href="https://www.facebook.com/SeSC.Club"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://www.linkedin.com/company/setifian-scientific-club-sesc/"><i
                        class="fa-brands fa-linkedin linkdin"></i></a>
            </div>
        </div>
        <p class="Copyright">© Sesc-lib</p>
    </div>
</footer>