<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <a class="navbar-brand" href="/">
        <img src="images/sesclogo.png" alt="Logo" width="40" height="40" class="d-inline-block align-text-top">
        SescLib
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-underline">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Specialities</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Contact Us</a>
            </li>
        </ul>
        <button type="button" class="btn btn-outline-dark  ml-auto nav-btns log-btn">Log in</button>
        <button type="button" class="btn btn-primary ml-auto nav-btns sign-btn">sign up</button>
    </div>
</nav>